node_modules
dist
packages/*/build

*.log
.now
.google*

secrets*
.env/*
!.env/.template.env
!.env.path

.DS_Store
.terraform

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions